.list {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

p {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 500;
}

.name_box {
    display:flex;
    justify-content: center;
} 

.address_box {
    display:flex;
    justify-content: center;
}

.name {
    font-size: 30px;
    font-family: 'Vollkorn', serif;
}

.address {
    font-size: 18px;
    display: inline-block;
}