body {
    text-align: center;
    margin: auto;
}

p{
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 500;
    font-size: 22px;
}

table {
    border-collapse: collapse; /* セルの境界を縮小 */
    width: 100%; /* テーブルの幅を調整*/
    display:flex;
    justify-content: center; /* テーブルを中央寄せにする */
}

tr {
    margin-bottom: 1em;

}

table, th, td {
    border: none; /* テーブル全体、ヘッダーセル、データセルの境界を削除 */
}

th, td {
    font-size: 18px;
    padding: 12px; /* セルのパディングを調整 */
    border: 1px solid #000000; /* 必要に応じてセルごとの境界を設定 */
    text-align: center; /* セル内のテキストを中央寄せにする */
}

.cafe_input {
    width: 100%;
    padding: 0.2em;
}

.button {
    font-size: 16px; /* ボタンの文字サイズを調整 */
    padding: 10px 20px; /* パディングを追加してボタンの大きさを調整 */
    border-radius: 8px; /* ボタンの角を丸くする */
    border: 1.5px solid #7d7b7b;
} 